{% extends 'template.html.twig' %}
    {% block body %}
        <table class="table">
            {% for note in notes %}
                <tr>
                    <td> {{note}} </td>
                </tr>    
            {% endfor %}
        </table>

            <p>
                Url absolue: {{ url('tab') }}
            </p>

            <div class="alert alert-info" role="alert">
                 <p>Nombre de notes {{ notes|length }}</p>
                 <p>Note minimale {{ min(notes) }}</p>
                 <p>Note maximale {{ max(notes) }}</p>
            </div>
    {% endblock %}

    {% block title %}
        Notes
    {% endblock %}

    {% block pagetitle %}
        Notes des élèves:
    {% endblock %}